:root {
    --main-blue: #1e669f;
    --main-yellow: #f6be07;
    --main-white: #e4e6eb;
    --blue-dark:  #1e479f;
    --black-dark: #0a0a0a
;
}

html, body, div, span,h1, h2, h3, h4, h5, h6, p, a{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    width: 100vw;
    background: var(--main-blue);
    display: flex;
    flex-direction: column;
}

.brand{
    margin: 1rem 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid var(--main-white);
}

.logo{
    width: 10vh;
    margin-bottom: 1rem;
}

.links{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem 0.5rem;
}

.link{
    text-decoration: none;
    margin: 0 0.5rem;
    color: var(--main-white);
    cursor: pointer;
}

.link:hover{
    color: var(--main-yellow);
    font-size: 20px;
}

.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.content-title{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    align-items: center;
    width: 80%;
    font-size: 30px;
}

#home{
    background-image: url(../assets/images/backgroud-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.services{
    display: flex;
    flex-direction: column;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--main-blue);
    width: 80vw;
    height: 18vh;
    margin: 0.5rem 0;
}

.serviceheader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.servicetitle{
    font-size: 20px;
}

.logofabricante{
    display: flex;
    flex-direction: row;
}

.servicefabricante{
    object-fit: fill;
    max-width: 120px;
}

.servicetext{
    text-align: center;
    margin: 0 0.5rem;
}

.text{
    margin: 0 1rem;
    overflow: auto !important;
    width: 80%;
}

.hrblack{
    width: 80%;
    height: 3px;
    background-color: var(--black-dark);
    border-width: 0;
    margin-bottom: 1rem;
}

.treatments{
    display: flex;
    flex-direction: column;
}

.days{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.texttreatment{
    margin-top: 1rem;
}

.hours{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hour{
    margin: 1rem 0;
    font-size: 24px;
    font-style: oblique;
}

.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    width: 80vw;
}

#location{
    width: 2rem;
}

iframe{
    width: 80vw;
    height: 80vh;
    margin-bottom: 1rem;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contacts{
    align-items: center;
    justify-content: center;
}
.contact{
    margin-bottom: 1rem;
}

.logos{
    width: 7%;
}

.contacttitle{
    font-size: 20px;
}

.contacttext{
word-break: break-all;
}

.contactlogo{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    width: 100vw;
    background: var(--main-blue);
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grouptitle{
    font-size: 20px;
    text-align: center;
    margin: 1rem 0;
}

.loja{
    text-decoration: none;
    color: var(--black-dark);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    
}

#myWhats {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: var(--blue-dark);
    color: var(--main-white);
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
  }


#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: var(--blue-dark);
    color: var(--main-white);
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  #about{
    background: var(--main-yellow);
  }

  #treatment{
    background: var(--main-blue);
  }

  #contact{
    background: var(--main-yellow);
  }


  @media (orientation: landscape){
      .navbar{
          flex-direction: row;
          border-bottom: 3px solid var(--main-white);
      }

      .logo{
          margin: 0;
          justify-content: center;
          align-items: center;
          margin: 1rem 1rem;
          
      }

      .brand{
          border: 0;
          margin: 0pt;
      }

      .links{
          flex-direction: row;
          margin: 0;
      }

      #home{
        background-image: url(../assets/images/backgroud-desktop.png) ;
        background-repeat: no-repeat;
        background-size: cover;
    }

      .text{
          width: 80vw;
      }

      .services{
          flex-direction: row;
          width: 80vw;
      }
      .servicetitle{
          justify-content: center;
          align-items: center;
      }

      .service{
          width: 20vw;
          margin: 0 1rem;
          height: 80vh;
          justify-content: space-evenly;
      }

      .logofabricante{
          flex-direction: column;
      }

      .servicefabricante{
          margin-bottom: 1rem;
      }

      .contact{
          width: 80vw;
          background: var(--main-white);
          margin: 1rem 0;
          flex-direction: row;
          justify-content: ;
      }

      .contactlogo{
          display: flex;
          width: 10vw;
          height: auto;
          justify-content: center;
          align-items: center;
          border: 0;
          cursor: pointer;
      }

      .logos{
          width: 30%;
      }

      .contactcontent{
          margin: 0.5rem 0;
          width: 70vw;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      .treatments{
          display: flex;
          flex-direction: row;
          width: 80vw;
          height: 80vh;
      }
    
      #logoatendimento{
          width: 7%;
      }

      .days{
          margin: 0;
      }

      .footer{
          height: 35vh;
      }

      .lojas{
          display: flex;
          flex-direction: row;
      }

      #locationloja{
        width: 7%;
      }
  }